* {
  margin: 0px;
  padding: 0px;
  background-color: rgb(177, 207, 183);
}

.App {
  text-align: center;
}

.title {
  text-transform: capitalize;
  margin: 10px;
}

img {
  max-width: 70%;
  margin: 15px;
}

.images {
  width: 50%;
}

.reviewList {
  margin: 50px;
  padding: 20px;
  list-style: none;
  color: rgb(90, 1, 90);
}

.topnav {
  background-color: rgb(90, 1, 90);
  overflow: hidden;
  width: 100%;
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: space-between;
}

.topnav a {
  background-color: rgb(149, 97, 149);
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(219, 186, 219);
  color: rgb(90, 1, 90);
}

h1 {
  font-family: "Fascinate", cursive;
  font-size: 400%;
  color: rgb(219, 186, 219);
  background-color: rgb(80, 104, 84);
  padding: 20px;
}

h2 {
  font-family: "Fascinate", cursive;
  color: rgb(90, 1, 90);
  font-size: 250%;
  padding: 10px;
}

#greeting {
  font-family: "Kanit", sans-serif;
  color: rgb(219, 186, 219);
  font-size: 125%;
  background-color: rgb(80, 104, 84);
  padding: 15px;
}

#reviewsHeading {
  margin: 20px;
}

.dropDown {
  color: white;
  background-color: rgb(149, 97, 149);
  border-radius: 20px;
  padding: 10px;
  font-family: "Kanit", sans-serif;
}

.dropDownOptions {
  text-transform: capitalize;
}

.buttons {
  font-family: "Kanit", sans-serif;
  text-align: center;
  background-color: rgb(149, 97, 149);
  color: white;
  padding: 12px;
  border-radius: 20px;
  border: white;
  margin: 20px;
}

.buttons:hover {
  background-color: rgb(219, 186, 219);
  color: rgb(149, 97, 149);
}

#reviewBody {
  margin: 20px;
}

.singleReviewPage {
  color: rgb(90, 1, 90);
}

.reviewCards {
  background-color: rgb(80, 104, 84);
}

.commentsList {
  margin: 50px;
  color: rgb(90, 1, 90);
  background-color: rgb(80, 104, 84);
  list-style: none;
  padding: 15px;
}

#commentBody {
  padding: 20px;
}

.form textarea {
  padding: 15px;
}

textarea {
  margin: 10px;
  border-radius: 30px;
  color: rgb(149, 97, 149);
  border-color: rgb(149, 97, 149);
  font-family: "Kanit", sans-serif;
  text-align: center;
  color: rgb(90, 1, 90);
}

@media only screen and (min-width: 1100px) {
  .images {
    width: 50%;
  }
}
